.font-loader {
	font-family: 'Exo 2', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Exo 2', sans-serif;
}

:root {
	--theme-color: rgb(100, 0, 0);
	--second-theme-color: rgba(100, 0, 0, .6);
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	background-color: rgba(255, 255, 255, .2);
	color: inherit;
}

body {
	color: white;
	margin: 0;
	-webkit-user-select: none;
	user-select: none;
}

body::before {
	background-image: url(./img/bg.jpg);
	content: "";
	height: 100%;
	left: 0;
	opacity: .2;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: -1;
}

footer {
	background-color: var(--theme-color);
	bottom: 0;
	left: 0;
	padding: 10px 15px;
	position: fixed;
	width: 100%;
}

header {
	background-color: var(--theme-color);
}

.app-title {
	display: flex;
}

.app-title h1 {
	font-size: 24px;
	height: 50px;
	line-height: 50px;
	margin: 15px 0;
}

h2 {
	color: brown;
	font-size: 1.5em;
	line-height: 1.5;
	margin: 0;
	padding: 10px;
}

main {
	padding: 15px 15px 55px;
}

nav>* {
	--radius: 10px;
	border-top-left-radius: var(--radius);
	border-top-right-radius: var(--radius);
	cursor: pointer;
	display: inline-block;
	margin: 0 10px;
	padding: 10px 15px;
	text-decoration: none;
	transition: all .25s;
}

nav>*:hover {
	background-color: rgba(255, 255, 255, .2);
}

nav>*.selected,
nav>*:active {
	background-color: white;
	color: var(--theme-color);
}

/* Dashboard Page */

ul {
	margin: 0;
	padding-inline-start: 0;
}

.banana-card {
	background-color: var(--theme-color);
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 10px;
	margin: 5px;
	padding: 15px;
	transition: opacity .25s;
	display: block;
	width: auto;
}

.banana-card:hover,
.floating-btn:hover {
	opacity: .8;
}

.banana-card:active,
.floating-btn:active {
	opacity: .6;
}

.banana-card:nth-child(even) {
	background-color: var(--second-theme-color);
}

.banana-card-content img {
	height: 20px;
	margin-left: 5px;
}

.banana-card-title {
	font-size: 1.17em;
	margin: 0;
}

.floating-btn {
	--size: 50px;
	background-color: var(--theme-color);
	border: none;
	border-radius: 50%;
	box-shadow: 0 0 5px rgba(0, 0, 0, .2);
	bottom: 70px;
	color: inherit;
	cursor: pointer;
	font-size: 24px;
	height: var(--size);
	line-height: var(--size);
	position: fixed;
	transition: opacity .25s;
	right: 30px;
	width: var(--size);
}

.logo {
	--size: 50px;
	border-radius: 5px;
	margin: 15px;
	height: var(--size);
	width: var(--size);
}

.status {
	background-color: var(--second-theme-color);
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 10px;
	font-size: 18px;
	margin: 5px;
	padding: 15px;
	text-align: center;
}

/* About Page */

.about {
	margin-top: 25px;
	text-align: center;
}

.about .team {
	display: flex;
	width: auto;
	justify-content: center;
	flex-wrap: wrap;
}

.about .team .member {
	border-radius: 10px;
	width: 250px;
	margin: 5px;
	background-color: rgba(100, 0, 0, .2);
	padding: 20px 10px;
}

.avatar {
	background-position: center;
	background-size: cover;
	max-width: 190px;
	width: 100%;
	height: 190px;
	margin: 0 auto;
	padding: 5px;
}

.avatar img {
	border-radius: 50%;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.about h1 {
	font-family: 'Yatra One', cursive;
	font-size: 48px;
	color: brown;
}

.about h2 {
	font-family: 'Yatra One', cursive;
	font-size: 25px;
	color: brown;
	margin-bottom: 25px;
}

.about .team .member h3 {
	color: brown;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 2px;
	margin: 15px 0 0;
}

.about .team .member p {
	color: black;
	margin-top: 15px;
}

/* Word List Page */

.wordlist-title {
	cursor: pointer;
}

.wordlist-nav-button {
	height: 80px;
	display: inline-block;
	background-color: var(--second-theme-color);
	border-radius: 20px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
	line-height: 80px;
	text-align: center;
	transition: background-color .25s;
	margin: 0;
	width: 80px;
}

.wordlist-nav-button:hover {
	background-color: rgba(100, 0, 0, .8);
}

.wordlist-nav-button:active {
	background-color: rgb(100, 0, 0);
}

.wordlist-nav-button a {
	height: inherit;
	width: inherit;
	display: block;
}

.wordlist-nav-button a:hover {
	background-color: transparent;
}

.wordlist-nav-row {
	cursor: pointer;
	margin: 0 auto;
	padding-inline-start: 0;
	width: fit-content;
}

.word-card {
	backdrop-filter: blur(5px);
	background-color: var(--second-theme-color);
	border: 1px solid rgba(0, 0, 0, .2);
	display: block;
	border-radius: 10px;
	margin: 10px;
	padding: 15px;
}

.word-card:nth-child(even) {
	background-color: var(--theme-color);
}

.word-card .text {
	font-size: 30px;
	color: white;
	margin: 0.5rem;
}

.word {
	font-size: 24px;
	margin: auto;
}

form {
	margin: 30px auto;
	max-width: 500px;
}

form label,
input {
	display: block;
	margin-bottom: 10px;
	border-radius: 10px;
	color: black;
	padding: 10px 15px;
}

form label {
	padding-right: 10px;
	background-color: var(--second-theme-color);
	color: white;
}

input {
	box-sizing: border-box;
	height: 42px;
	border: 1px solid rgba(0, 0, 0, .2);
	width: 100%;
}

.modal-dialog {
	color: black;
}

.modal-dialog label {
	margin-bottom: 10px;
}

.mask {
	align-items: center;
	backdrop-filter: blur(5px);
	background-color: rgba(0,0,0,.5);
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}

.context-menu {
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0,0,0,.5);
	color: rgba(0,0,0,.8);
	font-size: 14px;
	padding: 10px;
	position: fixed;
	white-space: nowrap;
}

.context-menu > div {
	border-radius: 5px;
	line-height: 20px;
	padding: 7.5px 10px;
	transition: all .25s;
	white-space: nowrap;
}

.context-menu > div:focus,
.context-menu > div:hover {
	background-color: var(--theme-color);
	color: white;
}

.context-menu > div:active {
	color: rgba(255,255,255,.5);
}

.loading {
	--size: 50px;
	animation: loading 1s linear infinite;
	border: 5px solid white;
	border-radius: 50%;
	border-top-color: var(--theme-color);
	height: var(--size);
	width: var(--size);
}

@keyframes loading {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* from Alibaba */

.icon {
	font-size: 40px;
	font-family: 'iconfont';
}

.icon-arrow {
	font-size: 30px;
	font-family: 'iconfont';
}

.icon-card {
	font-size: 35px;
	font-family: 'iconfont';
	margin: 10px;
	cursor: pointer;
}

[hidden] {
	display: none !important;
}

@font-face {
	font-family: 'iconfont';
	/* Project id 3355937 */
	src: url('https://at.alicdn.com/t/font_3355937_e0k3xpyprdd.woff2?t=1654214795608') format('woff2'),
		url('https://at.alicdn.com/t/font_3355937_e0k3xpyprdd.woff?t=1654214795608') format('woff'),
		url('https://at.alicdn.com/t/font_3355937_e0k3xpyprdd.ttf?t=1654214795608') format('truetype');
}


@media (min-width: 800px) {
	.banana-card {
		display: inline-block;
		margin: 5px;
		width: 200px;
	}

	.status {
		font-size: 20px;
	}

	.wordlist-nav-button {
		margin: 0 1rem;
		width: 100px;
	}

	.word-card {
		display: flex;
	}
}

@media (min-width: 1200px) {
	.wordlist-nav-button {
		margin: 0 4rem;
	}
}

@media (min-width: 2000px) {
	.word-card {
		width: 1500px;
		margin: 30px auto;
	}
}

input:focus {
	outline: none;
}

.data-result {
	font-size: 18px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
	overflow: hidden;
	overflow-y: auto;
}

.data-result .data-item {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	color: black;
}

.data-item p {
	margin-bottom: 0;
	margin-left: 10px;
}

p:hover {
	color: white;
}


/* Quiz Section */
.quiz {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 60vh;
}

.quiz h1 {
	color: var(--theme-color);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.quiz h2 {
	margin: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.quiz p {
	width: 100%;
	font-size: 20px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.quiz-box {
	display: block;
	width: 450px;
	border-radius: 25px;
	padding: 20px;
	height: 190px;
	width: 450px;
	color: white;
	background-color: var(--second-theme-color);
	position: relative;
}

.two-button{
	margin-top: 20px;
}
.check-button{
	margin-top: -20px;
	margin-bottom: 30px;
}
.quiz input{
	box-sizing: border-box;
	height: 42px;
}

.quiz-check-buttons {
	margin-top: 55px;
}

.quiz-buttons {
	margin-top: 25px 20px;
	padding: 10px 10px;
	box-sizing: border-box;
	height: 42px;
}
