* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Exo 2', sans-serif;
}

:root {
	--theme-color: darkorange;
}

a {
	color: inherit;
	text-decoration: none;
}

body {
	color: white;
	margin: 0;
	-webkit-user-select: none;
	user-select: none;
}

body::before {
	background-image: url(./img/bg.jpg);
	content: "";
	height: 100%;
	left: 0;
	opacity: .2;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: -1;
}

footer {
	background-color: var(--theme-color);
	bottom: 0;
	left: 0;
	padding: 10px 15px;
	position: fixed;
	width: 100%;
}

header {
	background-color: var(--theme-color);
}

header h1 {
	display: inline-block;
	font-size: 24px;
	height: 50px;
	line-height: 50px;
	margin: 15px 0;
	position: absolute;
}

h2 {
	color: var(--theme-color);
	margin: 0;
	padding: 10px;
}

main {
	padding: 15px 15px 55px;
}

nav > * {
	--radius: 10px;
	border-top-left-radius: var(--radius);
	border-top-right-radius: var(--radius);
	cursor: pointer;
	display: inline-block;
	margin: 10px 10px 0;
	padding: 10px 15px;
	text-decoration: none;
	transition: all .25s;
}

nav > *:hover {
	background-color: rgba(255, 255, 255, .2);
}

nav > *.selected,
nav > *:active {
	background-color: white;
	color: var(--theme-color);
}

/* Dashboard Page */

ul {
	margin: 0;
	padding-inline-start: 0;
}

.card {
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 10px;
	margin: 5px;
	padding: 15px;
	transition: opacity .25s;
	display: block;
	width: auto;
}

.card:hover,
.floating-btn:hover {
	opacity: .8;
}

.card:active,
.floating-btn:active {
	opacity: .6;
}

.card:nth-child(5n + 1) {
	background-color: #E74C3C;
}

.card:nth-child(5n + 2) {
	background-color: darkorange;
}

.card:nth-child(5n + 3) {
	background-color: #229954;
}

.card:nth-child(5n + 4) {
	background-color: #2E86C1;
}

.card:nth-child(5n + 5) {
	background-color: #7D3C98;
}

.card-content img {
	height: 20px;
	margin-left: 5px;
}

.card-title {
	margin: 0;
}

.floating-btn {
	--size: 50px;
	background-color: var(--theme-color);
	border: none;
	border-radius: 50%;
	box-shadow: 0 0 5px rgba(0, 0, 0, .2);
	bottom: 70px;
	color: inherit;
	cursor: pointer;
	font-size: 24px;
	height: var(--size);
	line-height: var(--size);
	position: fixed;
	transition: opacity .25s;
	right: 30px;
	width: var(--size);
}

.logo {
	--size: 50px;
	border-radius: 5px;
	margin: 15px 15px 0;
	height: var(--size);
	width: var(--size);
}

.status {
	background-color: orange;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 10px;
	font-size: 18px;
	margin: 5px;
	padding: 15px;
	text-align: center;
}

/* About Page */

.about {
	margin-top: 25px;
	text-align: center;
}

.about .team {
	display: flex;
	width: auto;
	justify-content: center;
	flex-wrap: wrap;
}

.about .team .member {
	width: 250px;
	margin: 5px;
	background: #D2B48C;
	padding: 20px 10px;
}

.avatar {
	background-position: center;
	background-size: cover;
	max-width: 190px;
	width: 100%;
	height: 190px;
	margin: 0 auto;
	padding: 5px;
	position: relative;
}

.avatar img {
	border-radius: 50%;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.about h1 {
	font-family: 'Yatra One', cursive;
	font-size: 48px;
	color: #D2B48C;
}

.about h2 {
	font-family: 'Yatra One', cursive;
	font-size: 25px;
	color: #DEB887;
	margin-bottom: 25px;
}

.about .team .member h3 {
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 2px;
	margin: 15px 0 0;
}

.about .team .member p {
	margin-top: 15px;
}

/* Word List Page */

.wordlist-title {
	cursor: pointer;
}

.wordlist-nav-button {
	height: 80px;
	display: inline-block;
	background-color: orange;
	border-radius: 20px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
	line-height: 80px;
	text-align: center;

	margin: 0;
	width: 80px;
}

.wordlist-nav-row {
	cursor: pointer;
	margin: 0 auto;
	padding-inline-start: 0;
	width: fit-content;
}

.word-card {
	background-color: orange;
	border: 1px solid rgba(0, 0, 0, .2);
	display: block;
	border-radius: 10px;
	margin: 10px;
	padding: 15px;
}

.word-card .text {
	font-size: 30px;
	color: white;
	margin: 0.5rem;
}

.word {
	font-size: 24px;
	margin: auto;
}

form {
	margin: 30px auto;
	max-width: 500px;
}

label,
input {
	display: block;
	margin-bottom: 10px;
	border-radius: 10px;
	color: black;
	padding: 10px 15px;
}

label {
	padding-right: 10px;
	background-color: orange;
	color: white;
}

input {
	border: 1px solid rgba(0, 0, 0, .2);
	width: 100%;
}

/* from Alibaba */

.icon {
	font-size: 40px;
	font-family: 'iconfont';
}

.icon-arrow {
	font-size: 30px;
	font-family: 'iconfont';
}

.icon-card {
	font-size: 35px;
	font-family: 'iconfont';
	margin: 10px;
	cursor: pointer;
}


  @font-face {
	font-family: 'iconfont';  /* Project id 3355937 */
	src: url('https://at.alicdn.com/t/font_3355937_aw67i184jg.woff2?t=1653089051849') format('woff2'),
		 url('https://at.alicdn.com/t/font_3355937_aw67i184jg.woff?t=1653089051849') format('woff'),
		 url('https://at.alicdn.com/t/font_3355937_aw67i184jg.ttf?t=1653089051849') format('truetype');
  }


@media (min-width: 600px) {
	.card {
		display: inline-block;
		margin: 5px;
		width: 200px;
	}

	.status {
		font-size: 20px;
	}

	.wordlist-nav-button {
		margin: 0 1rem;
		width: 100px;
	}

	.word-card {
		display: flex;
	}
}

@media (min-width: 950px) {
	.wordlist-nav-button {
		margin: 0 4rem;
	}
}

@media (min-width: 2000px) {
	.word-card {
		width: 1500px;
		margin: 30px auto;
	}
}
